# Ignore everything in the directory
/*

# Allow tracking root files
!.gitignore
!README.md
!mimeapps.list

# Allow specific directories
!/fastfetch/
!/niri/
!/kitty/
!/swaylock/
!/rofi/
!/fish/
!/noctalia/
!/images/


# Ignore system/editor noise inside allowed directories
.DS_Store
*.log
